/* Better fonts */
* {
    font-family: colfax web, open sans, segoe ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: freight-text-pro, Georgia, serif;
    margin-bottom: 0.15rem;
}

.archive__heading {
    font-family: freight-text-pro, Georgia, serif;
    font-size: 3rem;
}

p {
    margin-top: 0.45em;
    line-height: 1.4em
}

.sidebar__introduction-title a {
    font-family: freight-text-pro, Georgia, serif;
    font-size: 5rem;
    text-transform: none;
}

/* Social icons */
.fa-2x {
    font-size: 1.5em;
}

.archive__list-title {
    text-transform: none;
}

/* Brighter hyperlinks in dark theme */
.theme--dark .post__content a {
    color: #7eace4;
}

/* Mobile burger more prominent */
a.navbar-burger {
    height: 4.25rem;
    width: 5.25rem;
}
.navbar-burger__line {
    height: 2px;
    width: 19px;
}
.navbar-burger__line:nth-child(1) {
    top: calc(50% - 8px);
}
.navbar-burger__line:nth-child(2) {
    top: calc(50% - 2px);
}
.navbar-burger__line:nth-child(3) {
    top: calc(50% + 4px);
}